/Data science methods/co2_daily_mlo.csv
/Data science methods/co2_mm_mlo.csv
/Data science methods/cpc3772_hyytiala_2020.csv
/Data science methods/assignment3/Exercise 3_data.xlsx
/Data science methods/H2SO4_Hyytiala.txt
/Data science methods/PM25_Beijing.txt
/Data science methods/smeardata_aerosol_20250516.csv
/Data science methods/smeardata_meteorology_20250516.csv
/Data science methods/smeardata_meteorology_20250521.csv
/Data science methods/smeardata_radiation_20250516.csv
/Data science methods/smeardata_tracegases_20250516.csv
/Data science methods/assignment2/SPECIATE_5.3_Selected_Profiles_Gas_Emissions.csv
/Data science methods/assignment1/bromide.xlsx
/Data science methods/assignment6/Daily_PM25_LA.csv
/Data science methods/assignment1/nitrate.xlsx
/Data science methods/assignment1/organic_vapor_pressures.csv
/Data science methods/assignment2/SPECIATE_5.3_Species_Properties.csv
