/Data science methods/co2_daily_mlo.csv
/Data science methods/co2_mm_mlo.csv
/Data science methods/cpc3772_hyytiala_2020.csv
/Data science methods/Exercise 3_data.xlsx
/Data science methods/H2SO4_Hyytiala.txt
/Data science methods/PM25_Beijing.txt
/Data science methods/smeardata_aerosol_20250516.csv
/Data science methods/smeardata_meteorology_20250516.csv
/Data science methods/smeardata_meteorology_20250521.csv
/Data science methods/smeardata_radiation_20250516.csv
/Data science methods/smeardata_tracegases_20250516.csv
